@charset "UTF-8";

*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *:before, *:after {
    box-sizing: border-box;
} */

@font-face {
	font-family: "Linotype Didot Italic"; 
	src: url("./fonts/Linotype\ Didot\ Italic.ttf"); 
	font-style: normal; 
	font-weight: normal; 
	}

	
body{
	margin: 0;
	background-color:#F4F5F0;
}

.container{
	margin:0 auto;
	width: 1000px;
	
}
title{
	color:black;/* #FFC618 */
	font-family: 'Lora', serif;
	font-size: 44px;
	text-align: start;
	text-transform: uppercase;
	font-weight: bold;
}

.header{
	height:65px;
	text-align: center;
	background-color:white;
	width: 100%;
}

.header_inner{
	z-index: 100;
	width: 100%;
}

.header_fixed {
	position: fixed;
	left: 0;
	top: 0;
  }



.header_subtitle{
	color:black;/* #FFC618 */
	font-family: 'Lora', serif;
	font-size: 48px;
	transition: all 0.8s ease ;
	cursor: default;
}

.header_subtitle:hover{
	color:gold;
	
}

.nav_header{
	background-color:beige;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color:black; /* #ffd700 */
	font-weight: bold;
	background-color:white;
	box-shadow: 0px 9px 8px 0px rgba(34, 60, 80, 0.2);;
}

.header_navlist{
	display: flex;
    align-items: center;
    align-self: center;
	justify-content: space-around;
	white-space: nowrap;
	text-transform: uppercase;
	padding-top: 25px;
	padding-bottom: 25px;
}

.header_navlist a{
	background: transparent;
   
	text-decoration: none;
	
	color:black;
    cursor: default;
    outline: none;
    border: none;
    border-radius: 0;
	padding-bottom: 10px;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease;
}



.header_navlist a:hover{
	border-bottom: 3px solid black;
	text-decoration: none;
}


.header_navlist:first-child{
	margin-left: 150px;
}

.header_navlist:last-child{
	margin-right: 150px;
}

.div_second{
	width: 100%;
	margin-bottom: 105px;
	margin-top: 105px;
}

.div_second_fig{
	display: block;
	margin-block-start: 1em;
    margin-block-end: 0.5em;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
}

.div_second_fig img{
	display: block;
    max-width: 100%;
    height: auto;
}



.intro{
	display: block;
	width: 100%;
}


.video_media{
	max-width: 100%;
	height: 100%;
	
	margin-bottom: 35px;
}

.collection_section{
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    max-width: 1750px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media screen and (max-width: 1400px){
.collection_section .h_section {
    height: 380px;
}
}



.h_section{
	position: relative;
    width: 100%;
    height: calc(100vh - 90px); 
    height: 420px;
    margin-bottom: 20px;
	background-color: black;
}



.card_img{
	height: 100%;
	background-repeat: no-repeat;
	background-position:center top;
	background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
	
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease;
}

.card_img:hover{
	opacity: 0.8;
}

.card_one{
	background-position-y:-230px;
}

.card_second{
	background-position-y:-215px;
}

.card_third{
    background-position-y: -400px;
	
}

.card_fourth{
	
	background-position-y:-200px;
}

.info_section{
	position: relative;
    width: 100%;
    height: calc(100vh - 90px);
    height: 420px;
    margin-bottom: 20px;
}


.infoz{
	margin: 100px; 
    margin: 30px 100px;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-auto-rows: 525px;
    margin-bottom: 50px;
    height: 525px;
    width: auto;
}



.h_info{
	height: 100%;
    position: relative;
    background: no-repeat 70% top/cover;
	
}

.h_info::before {
    content: "";
    width: calc(100% + 100px);
    height: calc(100% - 80px);
    height: calc(100% + 140px);
    display: block;
    left: -50px;
    position: absolute;
    bottom: -70px;
    background-color: white;
    z-index: -1;
}



.h_info_inner {
	height: 100%;
    display: flex;
    align-items: center;

}

.h-info__box {
    background: #F4F5F0;
    max-width: 33%;
    min-width: 400px;
    margin-left: 130px;
    margin-right: auto;
	border-radius: 4px;
	text-align:left;
	transition: all 0.8s ease ;
}

.h-info__box:hover{
	background-color:white;
	
}

.h-info__txt {
    padding: 8% 0%;
    font-size: 16px;
    line-height: 1.64;
    color: #212121;
    /* max-height: 50vh; */
    overflow-y: auto;
    font-weight: 100;
    letter-spacing: 0.57px;
    -webkit-font-smoothing: antialiased;
	font-family: 'Roboto', sans-serif;
}

.h-info__txt .h-info__title{
		display: block;
		font-size: 1.5em;
		margin-block-start: 0.67em;
		margin-block-end: 0.67em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		font-weight: bold;
		/* font-family: "Linotype Didot Italic";  */
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		font-weight: 500;
}

.section_review{
	/* background-color:red; */
	margin-top: 50px;
    margin-bottom: 50px;
	width: 100%;
    max-width: 1550px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 1400px){
.section_review_title{
    font-size: 30px;
    font-size: 24px;
}
}

.section_review_title{
	margin-bottom: 30px;
    font-size: 52px;
    font-size: 24px;
    line-height: 1;
    font-weight: 100;
    color: #212121;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.86px;
    text-align: center;
	font-family: 'Roboto', sans-serif;
	transition: all 0.8s ease ;
}

.section_review_title:hover{
	color:gold;
}

.wrapper_section_rev{
	background-color:white;
	display: flex;
	justify-content: space-between;
	align-items:center;
}

.review{
	margin: 5px;
	padding:10px;
	height: 100%;
	width: 100%;
}

.review_author{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
    font-size: 16px;
    margin-right: 15px;
	margin-bottom: 8px;

}

.review_text{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    color: #000000;
    letter-spacing: 0.57px;
    -webkit-font-smoothing: antialiased;
	transition: all 0.8s ease ;
}

.review_text:hover{
	font-size: 16px;
	color:black;
	cursor:default;
}

.final_photo{
	background-image: url(./img/photo.jpg);
	height: 950px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	margin-bottom: 100px;
	margin-top: 100px;
}

.contact_wrap{
	display: flex;
	justify-content: center;
	align-items:center;
	padding: 10px;
}

.contact_title{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 30px;
}

.insta_container{
	display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 20px;
    max-width: 1750px;
}

.cont{
	width: 100%;
    max-width: 1550px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.insta_left_side{
	justify-self: start;
}

.insta_feed{
	display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-auto-rows: 260px;
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    align-content: center;
}


@media screen and (max-width: 1400px){
.insta_feed {
    grid-auto-rows: 15vw;
}
}

@media screen and (max-width: 1400px){
.insta_feed {
    grid-template-columns: repeat(4, 15vw);
}
}


.insta_feed li{
	height: 100%;
    width: 100%;
    overflow: hidden;

}

.insta_feed li img{
	width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.insta_right_side{
	justify-self: center;
    text-align: center;
}

.insta_right_side a{
	transition: 0.3s color;
}

.insta_right_side img {
    width: 380px;
    max-width: 380px;
    margin: 0 auto;
}


@media screen and (max-width: 1400px){
.insta_right_side img {
    width: 25vw;
}
}

.insta_link {
    display: inline-flex;
    margin-top: 30px;
    font-size: 36px;
    font-weight: 100;
    line-height: 1;
    text-transform: uppercase;
    color: #000;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}



@media screen and (max-width: 1400px){
.insta_link {
    font-size: 30px;
}
}

::-webkit-scrollbar {
    background-color:#F4F5F0 ;
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background-color:#394260;
    border-radius: 3px;
}

.footer_top_hr{
	opacity: 0.6;
	margin-top: 100px;
	margin-bottom: 40px;
	
}

.footer_title{
	color:black;/* #FFC618 */
	font-family: 'Lora', serif;
	text-transform: uppercase;
	font-size: 48px;
	transition: all 0.8s ease ;
	cursor: default;
	margin-bottom: 20px;
}

.footer_title:hover{
	color:gold;
}


.footer{
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;

}

.footer_subtitle{
	width: 220px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin-bottom: 40px;
}